#header {
    height: 100px;
    text-align: center;
    background-color: lavender;
    margin: 10px 1%;
    border-radius: 30px;
    line-height: 100px;
    border: solid darkblue 2px;
}

#navbar {
	width: 10%;
	float: left;
	text-align: center;
	height: 81%;
    background-color: cornsilk;
    border-radius: 30px;
    margin: 10px 1% 0 1%;
    border: solid lightcoral 2px;
    padding: 1% 1.5%;
}

#main {
    width: 80%;
    height: 82.5%;
    margin: 10px 1% 0 0;
    float: right;
    border: solid lightseagreen 2px;
    border-radius: 30px;
    padding: 1% 1% 0.25% 1.75%;
}

#main-scroll {
	overflow-y: auto;
	height: 100%;
}

#vis-body {
	overflow-y: auto;
}

#tooltip {   
    position: absolute;
    text-align: center;
    width: 115px;
    padding: 2px;
    font: 12px sans-serif;
    background: cornsilk;
    border: 1px solid lightcoral;
    border-radius: 8px;
    pointer-events: none;
}

.nice-button {
	background-color: lightseagreen;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 0.6em;
    border-radius: 15px;
    border: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 5px auto;
    display: block;
    cursor: pointer;
}

.left-button {
	display: inline;
	margin: 5px 0;
}

.right-button {
    display: inline;
    float: right;
    margin: 5px 2% 0 5px;
}

#title {
    font-size: 3.5em;
    margin: 0;
    color: darkblue;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
}

.navtitle {
    margin: 20px 0;
    color: lightcoral;
    font-weight: 750;
    font-size: 1.75em;
    border-bottom: solid 1px;
    border-top: solid 1px;
    padding: 5px 0;
}

h1 {
    font-size: 2em;
    font-family: "Book Antiqua", serif;
    color: lightcoral;
    margin-top: 0;
}

h2 {
    font-size: 1.35em;
    font-family: "Book Antiqua", serif;
    color: darkblue;
}

a:hover, a:active {
    color: limegreen !important;
}
a:visited {
    color: lightcoral;
}
a {
    color: lightseagreen;
}

p {
    margin-bottom: 0;
}

.bottom-margin {
    margin-bottom: 10px;
}

/* Loading Bar */
#data-loading-bar {
    margin: 15px 0;
}

.loading-box {
    height: 15px;
    width: 30px;
    background-color: lavender;
    display: inline-block;
    vertical-align: middle;
}

#loading-data-text {
    color: darkblue;
    font-weight: 800;
    margin-right: 8px;
}

#done-loading-data-text {
    color: darkblue;
    font-weight: 800;
    margin-left: 8px;
    display: none;
}

text.annot {
    font-size: 12;
}

.arrow {
    stroke-width:2;
    stroke:#000;
    stroke-dasharray:6, 4;
}